{% extends 'base.html' %}
{% block content %}
<div class="container my-5 shadow bg-light p-5">
     {% if message %}
      <p class="alert alert-success">{{message}}</p>
    {% endif %}
  <h4 class="text-center mb-3"> Abonnez-vous à notre newsletter</h4>
  <form class="row g-3 justify-content-center" method="post">
    {% csrf_token %}
    <div class="col-auto">
      <input type="email" class="form-control" placeholder="Votre adresse email" name="email" required>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">S'abonner</button>
    </div>
    
  </form>
</div>
{% endblock %}